name: image-build
on:
  push:
    branches:
      - "jdk"
    paths:
      - "Dockerfile"
      - ".github/workflows/image-build.yaml"
      - "!**.md"
  pull_request:
    branches:
      - "jdk"

jobs:
  image-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        timeout-minutes: 5
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: improwised/ghar-image
          tags: |
            type=sha,prefix={{branch}}-,suffix=-{{date 'X'}}
            type=raw,prefix={{branch}}-,suffix=latest
        timeout-minutes: 5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        timeout-minutes: 5
      - name: Login to DockerHub
        if: ${{ github.ref_name == 'jdk' }}
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        timeout-minutes: 5
      - name: Build Check
        uses: docker/build-push-action@v5
        if: ${{ github.event_name == 'pull_request' }}
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: ${{ github.ref_name == 'jdk' }}
          tags: test
        timeout-minutes: 5
      - name: Build and push
        uses: docker/build-push-action@v5
        if: ${{ github.event_name == 'push' }}
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: ${{ github.ref_name == 'jdk' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
        timeout-minutes: 5
